<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="UserController">
      <div class="page-header">
        <h1>Add new User</h1>
      </div>
      
       <!-- Form for add new user -->
       <form class="form-horizontal" role="form" ng-submit="addUser(newUserEmail, newUserPassword)">  
	       	<div class="form-group">
		       	  <label>Email</label><br/>
		          <input type="text" class="form-control" ng-model="newUserEmail" placeholder="Enter the user email..." /><br />
		          
		          <label>Password</label><br/>
		          <input type="password" class="form-control" ng-model="newUserPassword" placeholder="Enter the user password..." /><br />
		      
				<button type="submit" class="btn btn-primary" title="Add">
					Save user
				</button>
			</div>       
		</form>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/UserController.js"></script>
    <script type="text/javascript" src="./app/UserService.js"></script>
  </body>
</html>