<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="ListController">
      <div class="page-header">
        <h1>My lists</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="lists &amp;&amp; lists.length > 0">
        There are no lists yet.
      </div>
      <form class="form-horizontal" role="form" ng-submit="addList(newList)">
        <div class="form-group" ng-repeat="list in lists">
          <div class="checkbox col-xs-9">
            <label>
              {{list.name}}
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-danger" type="button" title="Delete"
              ng-click="deleteList(list)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <hr />
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newList" placeholder="Enter the list name..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newList" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/myListController.js"></script>
    <script type="text/javascript" src="./app/myListService.js"></script>
  </body>
</html>