<div id="page-context" class="row">
	<div class="container" id="dashboard">
	    <div class="page-header">
	      <h1>My goals</h1>
	    </div>
	    <div class="alert alert-info" role="alert" ng-hide="goals &amp;&amp; goals.length > 0">
	      There are no goals yet.
	    </div>
	 
	      <div class="form-group" ng-repeat="goal in goals">
	        <div class="checkbox col-xs-9">
	          <h2>
	            {{goal.name}}
	          </h2>
	          <p>{{goal.category}}</p>     
	          <b>Requirements</b>
	          <div ng-repeat="req in goal.requirements">
	          	<p>{{req.category}} - {{req.value}}</p> 
	          </div>     
	          <div ng-repeat="act in goal.actions">
	          	<p>{{act.action}} - {{act.finished}} - {{act.planningDate}}- {{act.createdAt}}</p> 
	          </div>     
	        </div>
	        <div class="col-xs-3">
	          <button class="pull-right btn btn-danger" type="button" title="Delete"
	            ng-click="deleteGoal(goal)">
	            <span class="glyphicon glyphicon-trash"></span>
	          </button>
	          <p>Created at: {{goal.createdAt}}<p>
	        </div>
	      </div>  
	</div>
</div>