<div id="page-context" class="row">
	<div class="container" id="dashboard">
	    <div class="page-header" align="center">
	      <h2>Meus objetivos</h2>
	    </div>
	    <div class="alert alert-info" role="alert" ng-hide="goals &amp;&amp; goals.length > 0">
	      There are no goals yet.
	    </div>
   		<div class="form-group" ng-repeat="goal in goals">
	      	<div class="checkbox col-xs-9">
	          <h3><a href="/getGoal/{{goal.id}}">{{goal.name}}</a></h3>
	          <b>Categoria:</b>&nbsp;<i>{{goal.category}}</i><br/>   
	          <b>Status:</b>&nbsp;<i>Em execução</i>  
	     	</div>  
     	 
	        <div class="col-xs-3">
	          <button class="pull-right btn btn-danger" type="button" title="Delete"
	            ng-click="deleteGoal(goal)">
	            <span class="glyphicon glyphicon-trash"></span>
	          </button>
	          <p>Criado em: {{goal.createdAt}}<p>
	        </div>
	        <br/>
       	</div>
	</div>
</div>